@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

:root {
  --maincol : #D10744;
  --subcol :#000;
  --white :#fff;
  --subtit : 24px;
  --maintit : 54px;
  --strongtit : 65px;
  --mainpd : 27px;
}
.hidden {
  display:inline-block;
  position:absolute !important;
  width:1px;
  height:1px;
  margin:-1px;
  border:0;
  overflow:hidden;
  clip:rect(1px, 1px, 1px, 1px);
  clip-path:inset(50%);
}

*{
  text-decoration: none;
  color: var(--white);
}
body {
  font-family: "Roboto Condensed",'Pretendard', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}
.cm_pd {
  padding: 135px 0 81px 187px;
}
.contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

[class^=sec_tit] {
  display: inline-block;
}
[class^=sec_tit] h3 {
  color: var(--subcol);
  font-size:calc(var(--maintit) - 4px);
  line-height:calc(var(--maintit) - 4px);
  text-transform: uppercase;
}
[class^=sec_tit] a {
  display: inline-block;
  padding-top: 27px;
  color: var(--maincol);
  text-transform: uppercase;
}
[class^=sec_tit] span {
  display: inline-block;
  color: var(--maincol);
}
[class^=controls] a {
  display: inline-block;
  color: var(--subcol);
}
[class^=promo_txt] {
  padding: 81px 120px;
}
[class^=controls] a {
  display: inline-block;
}
[class^=controls] i {
  color: var(--subcol);
}

.ct_tit{
  display: block;
  font-size: var(--strongtit);
  line-height: var(--strongtit);
  text-transform: uppercase;
}
.ct_txt {
  display: block;
  font-size: var(--subtit);
  line-height: 30px;
}

/* 헤더 공통 */

.sub_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--mainpd);
  height: 43px;
}
.sub_nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 100px;
}
.sub_nav a,
span {
  color: var(--subcol);
  vertical-align: bottom;
}
.sub_nav ul li > a {
  text-transform: uppercase;
}
.logo {
  margin: 0;
  font-size: 0;
}
.logo a{
  display: block;
  text-indent: -9999px;
  width: 225px;
  height: 90px;
  background: url(../images/nars-logo-white.png) no-repeat;
}
.header_ct {
  background: var(--subcol);
  padding: 0 var(--mainpd);
  /* height: 88px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb {
  display: flex;
  align-items: center;
  gap: 30px;
}
.gnb>li {
  position: relative;
}
.gnb>li>a  {
  font-size: var(--subtit);
  text-transform: uppercase;
  font-weight: 500;
}
.gnb .depth {
  position: absolute;
  left: 0;
  top:  calc(100% + 34px);
  /* display: flex; */
  display: none;
  gap: 48px;
  width: 1920px;
  height: 411px;
  /* background: var(--white); */
  background: pink;
  padding-top: 40px;
}

.gnb .depth02 {
  width: 87px;
}
.gnb .depth02 a {
  color: var(--subcol);
}
.gnb .depth02 li:first-child {
  font-weight: 500;
}
.header_ct form {
  display: flex;
}
.search_bt {
  background:none;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--subcol);
  width: 260px;
  height: 40px;
  padding-left: 10px;
}
input:focus {
  outline: none;
}

.sc_btn span {
  font-size: 30px;
  color: var(--white);
  vertical-align: bottom;
}

/* 푸터 공통 */
#footer {
  background: var(--subcol);
  padding: 147px 187px 91px;
  position: relative;
}
.footer_gnb_wrap {
  padding-bottom: 154px;
}
.footer_gnb {
  display: flex;
  gap: 60px;
}
.footer_gnb>li h3 {
  font-size: var(--subtit);
  line-height: var(--subtit);
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.footer_gnb>li>a {
  font-size: var(--subtit);
  line-height: var(--subtit);
  font-weight: 400;
}
.footer_gnb>li h3:before {
  content: '';
  width: 297px;
  height: 1px;
  background: var(--white);
  position: absolute;
  left: 0;
  bottom: -10px;
}
.footer_gnb>li {
  width: 297px;
}
.depth02 {
  margin-top: 30px;
}
.depth02>li>a {
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.sns_wrap{
  display: flex;
  gap: 30px;
}
.sns_wrap .sns {
  display: flex;
  gap: 20px;
}
.sns_wrap span {
  color: var(--white);
  text-transform: uppercase;
}
select {
  padding-left: 10px;
  font-weight: 100;
  width: 150px;
  height: 41px;
  color: var(--white);
  background: var(--subcol);
}
#footer>p {
  display: inline-block;
  padding-top: 20px;
  margin-right: 40px;
}
.contact {
  position: absolute;
  right: 187px;
  bottom: 88px;
}
.contact p {
  text-transform: uppercase;
}
.contact p + p {
  padding-top: 20px;
}

/* 버튼 */
/* .primary_btn {
  width: 255px;
  height: 45px;
  padding: 11px 61px;
  font-size: var(--subtit);
  line-height: var(--subtit);
  background: var(--maincol);
  color: var(--white);
  text-align: center;
} */
.secondary_btn {
  position: relative;
  width: 255px;
  height: 45px;
  display: inline-block;
  line-height: 45px;
  font-size: var(--subtit);
  background: var(--white);
  color: var(--subcol);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
}
.secondary_btn:hover{
  color: #fff;
}
.secondary_btn:hover:before {
  width: 100%;
}
.secondary_btn:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  bottom: 0;
  background: var(--maincol);
  transition: all 0.5s ease;
  z-index: -1;
}
